* {
    box-sizing: border-box;
}

body {
    background: black;
}

.header {
    display: flex;
    width: 100%;
}

.logoIcon {
    margin: 2px;
}

.logo {
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 2px;
    margin-left: 15px;
    width: 350px;
    height: 110px;
}

.loginBtn {
    float: right;
    margin-left: 1050px;
    box-sizing: border-box;
}

.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: 1px black;
}

.content {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.containerXR {
    width: 1400px;
    height: 700px;
    margin-top: -150px;
    margin-left: 100px;
}

.containerCard {
    margin: 25px;
    margin-top: 150px;
    margin-left: 50px;
    width: 1000px;
    height: 500px;
    outline: 1px rgb(147, 112, 219);
}

.canvas {
    outline: dashed 1px rgb(147, 112, 219);
}

.instructions {
    color: white;
    outline: dashed 1px rgb(147, 112, 219);
    padding: 15px 25px;
}

/* CSS */
.button-23 {
    background-color: #ffffff;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.button-23:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow 0.2s;
}

.button-23:active {
    background-color: #f7f7f7;
    border-color: #000000;
    transform: scale(0.96);
}

.button-23:disabled {
    border-color: #dddddd;
    color: #dddddd;
    cursor: not-allowed;
    opacity: 1;
}
